certifi==2018.4.16
chardet==3.0.4
clarifai==2.5.2
configparser==3.7.1
future==0.17.1
googleapis-common-protos==1.5.6
grpcio==1.18.0
idna==2.6
jsonschema==2.6.0
protobuf==3.6.1
pyTelegramBotAPI==3.6.3
redis==2.10.6
requests==2.18.4
six==1.11.0
ujson==1.35
urllib3==1.24.2
